.text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.textCols{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 48%;
    margin-left: 4px;

}
